In [1]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony']

In [2]:
# TASK 1
n=int(input("enter number of students you want to enter: "))
for i in range(0,n):
    add=input("Enter the name : ")
    data.append(add)

print(data)

enter number of students you want to enter: 5
Enter the name : Harvey Spectar
Enter the name : Mike Ross
Enter the name : Louis Litt
Enter the name : Dona Possan
Enter the name : Rachel Zane
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Harvey Spectar', 'Mike Ross', 'Louis Litt', 'Dona Possan', 'Rachel Zane']

In [3]:
# TASK 2 
data.reverse()
print(data)

['Rachel Zane', 'Dona Possan', 'Louis Litt', 'Mike Ross', 'Harvey Spectar', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

In [4]:
# TASK 3
print(data[::-1])

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Harvey Spectar', 'Mike Ross', 'Louis Litt', 'Dona Possan', 'Rachel Zane']

In [5]:
# TASK 4
final_list=[]
for i in data:
    if i not in final_list:
        final_list.append(i)
print(final_list)

['Rachel Zane', 'Dona Possan', 'Louis Litt', 'Mike Ross', 'Harvey Spectar', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan']

In [8]:
# TASK 5
final_list.sort()
print(final_list)

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Dona Possan', 'Florida Thomson', 'Harvey Spectar', 'Janice Ken', 'Jim Nick', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Louis Litt', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'Mike Ross', 'Rachel Zane']

In [14]:
# TASK 6
index=[1,11,-1]
selected=[]
for i in index:
    selected.append(final_list[i])
    
print(selected)

['Alexanderia Peterson', 'Kenny Peterson', 'Rachel Zane']

In [10]:
# TASK 7
c=0
for q in range(556,678):
    if q%7==0:
        c+=1
        
print(c)

17

In [11]:
# TASK 8
c=0
i=1
nn=[]
n=int(input("Enter the no.: "))
while c<30:
    if i%n!=0:
        nn.append(i)
        c+=1
    i+=1
        
print(nn)
print(len(nn))

Enter the no.: 2
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]
30

In [17]:
# TASK 9
firstlist=[1,21,3,4,5,6,7,18,4]
secondlist=[19,1,17,6,15,14,13,2,11]
thirdlist=[]
for i in range(0,len(firstlist)):
    thirdlist.append(firstlist[i]+secondlist[i])

print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]