In [1]:
import pandas as pd
import numpy as np

In [66]:
# Task 1
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 
         39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
index=list(range(101,121))
 # Creating series called car and adding values and index from list called price and index respectively 
car= pd.Series(price,index=index)
print(car)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [67]:
# Task 2
print("car with Highest price :")
# getting max of car value using max function and then using that to get index and value from series
print(car[car == car.max()])
# for partion purpose
print("----------------------------------------")
print("car with Lowest price :")
# getting min of car value using min function and then using that to get index and value from series
print(car[car == car.min()])

car with Highest price :
114    93947
dtype: int64
----------------------------------------
car with Lowest price :
104    30660
dtype: int64

In [68]:
# Task 3
#first using sort we are sorting series and adding head 5 to get top 5 values of the function
print(car.sort_values(ascending=False).head(5))

114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

In [69]:
# Task 4
# giving condtion between 30k to 40k to display the value and saving in another object for further use
a=car[(car>=30000)&(car<=40000)] 
print(a)
print("----------------------------------------")
# using size fuction to get size of a
print("Count of car priced between 30k-40k are :",a.size)

103    37077
104    30660
111    39967
dtype: int64
----------------------------------------
Count of car priced between 30k-40k are : 3

In [70]:
# Task 5
# getting average value of car we are using mean function and storing in object
avg=car.mean()
# giving condtion that car value is greater than avg to display the value and svaing in another object for further use
a=car[car>avg]
print(a)
print("----------------------------------------")
# using size fuction to get size of a
print("Count of car above average price are :",a.size)

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64
----------------------------------------
Count of car above average price are : 8

In [71]:
# Task 6
index=[201,202,203]
value=[34000, 45000, 54000]
#  creating new series extra and adding values into it 
extra= pd.Series(value,index=index)
# by using concat to joining 2 series and updated into orginal series 
car=pd.concat([car,extra])
print(car)

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

In [62]:
# Task 7
# giving condtion price grateer than 60k display the value and saving in another object for further use
discount=car[car>60000]
# doing arithmetic operation on series to give 20% dicount
discount=discount-(discount*0.2)
# converting series to list for index and value
index=discount.index.tolist()
value=discount.tolist()
# using upadte to make changes in original series and adding values via list above
car.update(pd.Series(value, index=index))
print(car)

101    64096.8
102    48483.0
103    37077.0
104    30660.0
105    54828.8
106    52666.0
107    62962.4
108    51036.0
109    55643.0
110    56990.0
111    39967.0
112    75057.6
113    51406.0
114    75157.6
115    62698.4
116    50212.0
117    47536.0
118    40528.0
119    58780.0
120    66557.6
201    34000.0
202    45000.0
203    54000.0
201    34000.0
202    45000.0
203    54000.0
dtype: float64

In [63]:
#Task 8
# using list we created initial for index to remove valus=es from original series using drop  
car = car.drop(labels=index)
print(car)

102    48483.0
103    37077.0
104    30660.0
106    52666.0
108    51036.0
109    55643.0
110    56990.0
111    39967.0
113    51406.0
117    47536.0
118    40528.0
119    58780.0
201    34000.0
202    45000.0
203    54000.0
201    34000.0
202    45000.0
203    54000.0
dtype: float64