In [2]:
# task 1a
rollno=101
print(rollno)
print(id(rollno))
print(type(rollno))

101
2240144739696
<class 'int'>

In [3]:
# task 1b
firstname='Rohan'
print(firstname)
print(id(firstname))
print(type(firstname))

Rohan
2240228081776
<class 'str'>

In [4]:
# task 1c
lastname='Deshmukh'
print(lastname)
print(id(lastname))
print(type(lastname))

Deshmukh
2240228082800
<class 'str'>

In [5]:
# task 1c
maxmarks=50
print(maxmarks)
print(id(maxmarks))
print(type(maxmarks))

50
2240144738064
<class 'int'>

In [6]:
# task 2a
var1 = 2
# since variable starts from Character variable is created without any issue

In [7]:
# task 2b
2var=2
# for declaring variable we can only use character or '_'from start or else variable cannot be created 
# since we declare number is start of variable we got an error

SyntaxError: invalid decimal literal (1729216075.py, line 1)

In [8]:
# task 2c
var 1 = 2
#we cannot use decimal value to create varialble

SyntaxError: invalid syntax (1069141224.py, line 1)

In [9]:
# task 2d
var$2 = 2
# we  cannot use anu symbol during creation of variable

SyntaxError: invalid syntax (2085239645.py, line 1)

In [10]:
# task 3a
Class = 15
# Class variable is created

In [11]:
# task 3b
class = 14
# since its predefined word in library we cannot replace or change it since python is case sensitive

SyntaxError: invalid syntax (1242795455.py, line 1)

In [12]:
# task 3c
DEF = 13 
#DEF variable is created

In [13]:
# task 3d
def = 12
# since its predefined word in library we cannot replace or change it since python is case sensitive

SyntaxError: invalid syntax (1759817278.py, line 1)

In [14]:
# task 3e
a=TRUE
# boolean values cannot be defined to variable

NameError: name 'TRUE' is not defined

In [15]:
# task 3f
b=false
# boolean values cannot be defined to variable

NameError: name 'false' is not defined

In [36]:
# Task 4a
marks=89
print(marks)
print(id(marks))
print(type(marks))

89
2240144739312
<class 'int'>

In [37]:
# Task 4b
marks=89.55
print(marks)
print(id(marks))
print(type(marks))

89.55
2240256228304
<class 'float'>

In [ ]:
# Task 4c
# as we can see id' or both marks are different because id functiom returns the identity of a variable or object

In [38]:
# Task 5a 
maxmarks=100
perc=(marks/maxmarks)*100
print(perc,'%')

89.55 %

In [43]:
# Task 5b
fullname=(firstname+' '+lastname)
print(fullname)

Rohan Deshmukh

In [42]:
# Task 5c
print(fullname,'scored',perc,'%')

Rohan Deshmukh scored 89.55 %

In [41]:
# Task 6a
disc= {rollno : fullname}
print(disc)

{101: 'Rohan Deshmukh'}

In [40]:
# Task 6b
list=[rollno,fullname,marks]
print(list)

[101, 'Rohan Deshmukh', 89.55]

In [44]:
#Task 7a
print(1+"2")
#integer and string cannot be added or concat

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
#Task 7b
print("1"+"2")
# since both values are string data gets concat

12

In [46]:
#Task 7c
1/2
#division operator is used on the decimal values

0.5

In [47]:
#Task 7d
1//2
#floor division (after division it will round the division value)is used on the decimal value

0

In [48]:
# Task 8a
True and True
# since one value are true and operator return true

True

In [49]:
# Task 8b
True and False
# since one value is false and operator return false

False

In [51]:
# Task 8c
False or True
# since one value is true or operator return true

True

In [52]:
# Task 8d
False or False
#since both value is false or operator return false

False

In [53]:
# Task 9a
print(firstname in fullname)
#since the fristname sequence is found in fullname so it returned true

True

In [54]:
# Task 9b
print(firstname is fullname)
# since firstname memory location is different from fullname memory location it returned false

False

In [55]:
# Task 10
a=4
b=3
c=2
d=a**b+c
e=a**(b+c)

In [56]:
# Task 10a
print(d)

66

In [57]:
# Task 10b
print(e)

1024

In [ ]:
# Task 10c
# value of e and d are different because of precedences PEMDAS i d we geta exponential b and then c is added
# but in e we are adding b and c first because of paranthesis and then take exponential